body{
    background-color: rgb(9, 9, 9);
}

div{
    
    width: 10vw;
    height: 10vw;
    background-color: black;
    border-radius: 20px;
}

#PopUpCompra{
    text-align: center;
    border-radius: 30px;
    padding: 2vw;
    height: 18vw;
    width: 24vw;
    background-color: white;
    color: black;
    margin: 12vw 35vw;
    z-index: 1;
    position: fixed;
    box-shadow: 0vw 0vw 50vw 0vw rgba(255, 255, 255, 0.35);
    display: none;
    animation-name: AparicionPopUP;
    animation-duration: 200ms;
}

#PopUpCompra h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 100;
}

#PopUpCompra button{
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(30, 30, 30);
    margin: 2vw auto;
    height: 3vw;
    width: 20vw;
}

#PopUpCompra img{
    margin-bottom: 1vw;
    width: 8vw;
}

@keyframes AparicionPopUP {
    0%{
        transform: translateY(3vw);
        opacity: 0%;
    }

    100%{
        transform: translateY(0vw);
        opacity: 100%;
    }
}

#Container{
    background-color: transparent;
    display: flex;
    width: 100%;
    gap: 2vw;
    padding: 1vw;
    width: auto;
    height: auto;
}

#Menu{
    display: flex;
    gap: 2vw;
    margin: 3vw;
    position: absolute;
}

#ProductosEnCarrito{ 
    margin: 0vw 0vw 0vw 8vw;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: white;
    text-align: center;
    align-content: center;
    height: 1.5vw;
    width: 1.5vw;
    background-color: red;
    border-radius: 100%;
}

#Regreso{
    rotate: 180deg;
}

a img{
    width: 3vw;
    height: 3vw;
}

#SeccionPrincipal{
    background-image: url(../Imagenes/Galeriadeproductos/FondoProducto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(685.487px 36.9194px, 685.487px 36.9194px, 685.963682px 31.011979128px, 687.343736px 25.408044904px, 689.552174px 20.182579916px, 692.514008px 15.410566752px, 696.15425px 11.166988px, 700.397912px 7.526826248px, 705.170006px 4.565064084px, 710.395544px 2.356684096px, 715.999538px 0.976668872px, 721.907px 0.500001px, 1007.5px 0.500001px, 1007.5px 0.500001px, 1022.09953px 1.677949772px, 1035.94864px 5.088263296px, 1048.86211px 10.545642384px, 1060.65472px 17.864787848px, 1071.14125px 26.8604005px, 1080.13648px 37.347181152px, 1087.45519px 49.139830616px, 1092.91216px 62.053049704px, 1096.32217px 75.901539228px, 1097.5px 90.5px, 1097.5px 599.5px, 1097.5px 599.5px, 1096.32217px 614.098558px, 1092.91216px 627.947104px, 1087.45519px 640.860346px, 1080.13648px 652.652992px, 1071.14125px 663.13975px, 1060.65472px 672.135328px, 1048.86211px 679.454434px, 1035.94864px 684.911776px, 1022.09953px 688.322062px, 1007.5px 689.5px, 427px 689.5px, 427px 689.5px, 412.401442px 688.322062px, 398.552896px 684.911776px, 385.639654px 679.454434px, 373.847008px 672.135328px, 363.36025px 663.13975px, 354.364672px 652.652992px, 347.045566px 640.860346px, 341.588224px 627.947104px, 338.177938px 614.098558px, 337px 599.5px, 337px 437px, 337px 437px, 335.822062px 422.401442px, 332.411776px 408.552896px, 326.954434px 395.639654px, 319.635328px 383.847008px, 310.63975px 373.36025px, 300.152992px 364.364672px, 288.360346px 357.045566px, 275.447104px 351.588224px, 261.598558px 348.177938px, 247px 347px, 90.5001px 347px, 90.5001px 347px, 75.901613696px 345.822062px, 62.053106728px 342.411776px, 49.139877012px 336.954434px, 37.347222464px 329.635328px, 26.860441px 320.63975px, 17.864830536px 310.152992px, 10.545688988px 298.360346px, 5.088314272px 285.447104px, 1.678004304px 271.598558px, 0.500057px 257px, 0.500057px 90.5px, 0.500057px 90.5px, 1.678004304px 75.901539339px, 5.088314272px 62.053050112px, 10.545688988px 49.139831453px, 17.864830536px 37.347182496px, 26.860441px 26.860402375px, 37.347222464px 17.864790224px, 49.139877012px 10.545645177px, 62.053106728px 5.088266368px, 75.901613696px 1.677952931px, 90.5001px 0.500004px, 438.597px 0.500001px, 438.597px 0.500001px, 444.504434px 0.976668872px, 450.108352px 2.356684096px, 455.333778px 4.565064084px, 460.105736px 7.526826248px, 464.34925px 11.166988px, 467.989344px 15.410566752px, 470.951042px 20.182579916px, 473.159368px 25.408044904px, 474.539346px 31.011979128px, 475.016px 36.9194px, 475.016px 36.9194px, 475.016px 36.9194px, 475.492682px 42.8268209px, 476.872736px 48.4307552px, 479.081174px 53.6562203px, 482.043008px 58.4282336px, 485.68325px 62.6718125px, 489.926912px 66.3119744px, 494.699006px 69.2737367px, 499.924544px 71.4821168px, 505.528538px 72.8621321px, 511.436px 73.3388px, 649.068px 73.3388px, 649.068px 73.3388px, 654.975434px 72.8621321px, 660.579352px 71.4821168px, 665.804778px 69.2737367px, 670.576736px 66.3119744px, 674.82025px 62.6718125px, 678.460344px 58.4282336px, 681.422042px 53.6562203px, 683.630368px 48.4307552px, 685.010346px 42.8268209px, 685.487px 36.9194px, 685.487px 36.9194px); 
    background-color: rgb(18, 18, 18);
    width: 75vw;
    height: 45vw;
}

#Container > img{
    margin: 1vw 0vw 0vw 32vw;
    width: 12vw;
    position: absolute;
}

#ImagendeProducto{
    filter: drop-shadow(-0.1vw 0.1vw 2px white);
    margin: 6vw 0vw 0vw 30vw;
    width: 30vw;
    height: 37vw;
}

#Informacion{
    padding: 1vw;
    position: absolute;
    background-color: black;
    border-radius: 50px;
    margin-top: 25vw;
    width: 18vw;
    height: 18vw;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#Informacion h1{
    text-transform: uppercase;
}

#DescripcionProducto{
    color: rgb(240, 240, 240);
    font-size: 0.9vw;
}

#Compra{
    font-size: 1vw;
    padding: 0vw 1vw 0vw 1vw;
    display: flex;
    gap: 1vw;
    margin-top: 2vw;    
    background-color: white;
    width: 16vw;
    height: 3vw;
}

#Precio{
    color: green;
}

#Añadiralcarrito{
    display: flex;
    color: black;
}

#Añadiralcarrito img{
    cursor: pointer;
    margin-left: 1vw;
    height: 1.5vw;
}

#Apartado{
    display: block;
    width: auto;
    height: auto;
}

#DivSuperior{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: start;
    align-content: center;
    color: rgb(218, 217, 217);
    width: 20vw;
    height: 22vw;
    margin-bottom: 2vw;
}

#DivInferior{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: start;
    align-content: center;
    color: rgb(213, 212, 212);
    width: 20vw;
    height: 21vw;
}